.footer {
  padding: 4rem 6rem;
  background: black;
  color: white;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .icon {
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  margin-left: 1rem;
}

.top .icon:hover {
  color: #01959a;
}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom h4 {
  font-size: 1.3rem;
  padding: 1rem 0 0.8rem 0;
}

.bottom a {
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
}
#youtube {
  background-color: rgb(181, 59, 59);
}

#twitter {
  background-color: #4099ff;
}

#instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

#linkedin {
  background-color: #3b5998;
}

@media screen and (max-width: 780px) {
  .footer {
    padding: 4rem 2rem;
  }

  .footer .icon {
    margin: 1rem 1rem 0 0;
  }

  .bottom div {
    width: 50%;
  }
}
