* {
    margin: 0;
    padding: 0;
  }
  
  .background {
    background-image: url(../assets/busbg1.avif);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    width: 100%;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }
  
  .destination {
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    margin-left: 40%;
    font-size: 3rem;
    font-weight: 800;
    color: white;
  }
  
  .content {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 35%;
    color: white;
    font-size: 1.3rem;
    color: white;
    padding: 0.5rem 0 2rem 0;
  }
  
  .dropdown {
    margin-left: 28%;
    margin-top: 50px;
    font-size: 1.4rem;
  }
  
  .from {
    border: none;
    appearance: none;
    color: white;
  }
  
  .to {
    border: none;
    appearance: none;
    color: white;
  }
  
  .calender {
    height: 30%;
  }
  
  .searchBus{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 45%;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
  }

  .btn-book{
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: green;
    color: white;
    border-radius: 15px;
  }
  