<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3307/w3schools</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root123</property>
        <property name="show_sql">true</property>

        <mapping class="org.example.entity.Product" />
        <mapping class="org.example.entity.Customer" />
        <mapping class="org.example.entity.Supplier" />
        <mapping class="org.example.entity.Categories" />
        <mapping class="org.example.entity.Student" />
        <mapping class="org.example.entity.Book" />

    </session-factory>
</hibernate-configuration>