.contactbg {
  background: url(../assets/contact1.avif);
  width: 100%;
  height: 80vh;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-size: cover;
  background-position: center;
}
.contactHeading{
    float: right;
    margin-right: 20rem;
    margin-top: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
