#title {
    color: rgb(226, 101, 43);
}

body {
    background: linear-gradient(to top right,
            #020024, #7d7daf, #6f6f9f);
    min-height: 100vh;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.table-responsive {
    position: relative;
    align-items: center;
    justify-content: center;


}

.table-responsive table {
    width: 600px;
    margin: 25px 0;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(222, 211, 211, 0.916);
    background: transparent;


}

.table-responsive th,
td {
    padding: 15px;
    color: white;
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);

}

.table-responsive th {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background-color: deeppink;

}

.table-responsive td {
    text-align: left;
}


.table-responsive tbody tr:last-of-type {
    border-bottom: 3px solid;
}

.table-responsive title {
    align-items: left;
    justify-content: left;
}


.pagination {
    display: flex;
    align-items: left;
    background: #fff;
    color: #383838;
    padding: 10px 40px;
    border-radius: 6px;
    column-gap: 5px;

}

link {
    margin: 20px 30px;
}

.link {
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    cursor: pointer;
    border-color: #383838;
}

button:hover,
.link:hover {
    color: #fff;
    background-image: linear-gradient(#ff4568, #ff4568);
    background-repeat: no-repeat;
}

.button next {
    pointer-events: none;
}

.buttons {
    align-items: left;
    display: inline-flex;
    align-items: center;
    font-size: 15.5px;
    font-weight: 500;
    color: black;
    background: transparent;
    outline: none;
    border-radius: 5%;
    cursor: pointer;
}

.button:disabled {
    color: #b3b3b3;
    pointer-events: none;
}

.link.active {
    color: #fff;
    background: #7d7daf;
}