.addappbg {
  background-image: url(../assets/docapp2.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  width: 100% !important;
  background-size: cover;
  background-position: center;
}

.addappwrapper {
  margin-left: 35%;
  width: 520px;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  padding: 30px 40px;
  opacity: 10;
  backdrop-filter: blur(7px);
}

.addappheading {
  margin-top: 15%;
  width: 90%;
  color: black;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  opacity: 10;
}

.addappwrapper .addappinput {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 15px 0;
  opacity: 10;
}

.addappinput input {
  width: 100%;
  height: 100%;
  display: block !important;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 40px;
  color: black;
  font-size: 20px;
  opacity: 10;
  padding: 15px 20px 15px 15px;
}

.addappLabel {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.addappinput input::placeholder {
  color: black;
}

.addappwrapper button {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  background: black;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(248, 248, 248, 0.949);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 700;
}
