body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}

input[type="text"], button {
    display: block;
    margin-bottom: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
